/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'bpicons';
  src:url('../fonts/bpicons/bpicons.eot');
  src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bpicons/bpicons.woff') format('woff'),
    url('../fonts/bpicons/bpicons.ttf') format('truetype'),
    url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
  font-weight: normal;
  font-style: normal;
} /* Made with http://icomoon.io/ */

html {
  height: 100%;
}
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    background: #21B6A8;
    color: #fff;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    width: 100%;
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#pennies {
  width:50%;
  height:100%;
  margin-top: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20%;
}

#penny-container {
  width: 100%
}


.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav {
  margin: 7.5px -15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block!important;
  }
}

.navbar-collapse {
  max-height: 340px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  -webkit-overflow-scrolling: touch;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li:hover {
  background-color: #C5B683;
}

.nav>li>a {
  position: relative;
  display: block;
}

.navbar-collapse.in {
  overflow-y: auto;
}

.mobile-nav-header {
  position:relative;
  z-index: 1000;
  margin-bottom: 20px;
  background: #177F75;
  border: none;
}

.fixed-top {
  top: 0;
  z-index: 1030;
  position: fixed;
  right: 0;
  left: 0;
}

.mobile-navbar {
  text-align: center;
}

.navbar-collapse-skin {
    box-shadow: none !important;
    border-top: 2px solid #C5B683 !important;
}

.navbar-nav-skin {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle-skin {
  padding: 0 !important;
}

.navbar-toggle-skin:focus {
  outline: none;
}

.navbar-button {
  text-align: center;

  color: #4C292D;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 20px;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 400;
}

.navbar-button-div {
  width: 100%;
  float: none;
  border: none;
  padding: 8px 0 4px 0;
  margin: 0;
  cursor: pointer;
}

.navbar-button-div ul {
  width: auto;
  padding: 0 0 0 14px;
  margin: 0 auto !important;
  display: inline-block;
  list-style: none;
  list-style-image: none;
}

.navbar-button-div ul > li {
  float: left;
  position: relative;
}

.navbar-button-div ul > li + li {
  margin-left: 10px;
}

.menu-text {
  float: left;
}

.icon-bar-custom {
  background-color: #FFFFFF;
  height: 2px;
  width: 14px;
  padding-bottom: 0;
  margin: 2px auto;
  border-radius: 1px;
  display: block;
}

.icon-bar.first-bar {
  margin-top: 3px !important;
}

.navbar-menu-text {
  margin-top: 1px;
  font-size: 19px;
  font-weight: 300;
  color: #FFFFFF;
  cursor: pointer;
}

.mobile-border-bottom {
  border-bottom: 2px solid #FFFFFF;
}

@media (min-width:768px) {
  .mobile-nav-header {
      visibility: hidden !important;
      display: none !important;
    }
}

@media (max-width:767px) {
  #main-nav {
    visibility: hidden !important;
    display: none !important;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
